{% extends 'layout.html.twig' %}

{% block content %}
	{% for key, value in flash %}
		<div class="alert alert-{{ key == 'success' ? 'success' : 'danger' }}">
			{{ value.0 }}
		</div>
	{% endfor %}
	<div class="container-lg mt-3">
		{% set url_name = url.getName() %}
		<h1>Сайт:
			{{ url_name }}</h1>
		<div class="table-responsive">
			<table class="table table-bordered table-hover text-nowrap" data-test="url">
				<tbody>
					<tr>
						<td>ID</td>
						<td>{{ url.getId() }}</td>
					</tr>
					<tr>
						<td>Имя</td>
						<td>{{ url_name }}</td>
					</tr>
					<tr>
						<td>Дата создания</td>
						<td>{{ url.getCreatedAt() }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<h2 class="mt-5 mb-3">Проверки</h2>
		<form method="post" action="/urls/{{ url.getId() }}/checks">
			<input type="submit" class="btn btn-primary" value="Запустить проверку">
		</form>
		<table class="table table-bordered table-hover" data-test="checks">
			<thead>
				<tr>
					<th>ID</th>
					<th>Код ответа</th>
					<th>h1</th>
					<th>title</th>
					<th>description</th>
					<th>Дата создания</th>
				</tr>
			</thead>
			<tbody>
				{% for check in checks %}
					<tr>
						<td>{{ check.getId() }}</td>
						<td>{{ check.getStatusCode() }}</td>
						<td>{{ check.geth1() }}</td>
						<td>{{ check.getTitle() }}</td>
						<td>{{ check.getDescription() }}</td>
						<td>{{ check.getCreatedAt() }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
